# ------------------------------
# Java & Maven
# ------------------------------
# Compiled classes
*.class

# Maven target directory
target/

# Maven wrapper
.mvn/
!mvnw
!mvnw.cmd

# Maven files
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
pom.xml.versionsBackup

# ------------------------------
# Spring Boot
# ------------------------------
# Spring Boot repackaged jar
*.jar
# Actuator logs (si configurés)
spring.log

# ------------------------------
# Logs
# ------------------------------
logs/
*.log

# ------------------------------
# IDEs
# ------------------------------
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# ------------------------------
# OS
# ------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ------------------------------
# Autres
# ------------------------------
# Fichiers de configuration locaux
application.properties
application.yml
application-*.properties
application-*.yml
!application-prod.properties   # si vous voulez versionner le prod
!application-prod.yml

# fichiers temporaires
*.tmp
